*{
    margin:20;
    padding:100;
}
body{
    background: url("Bg.jpg") no-repeat;
    background-size: cover;
    color:white;
    font-family:;
    text-align: center;
    height: 300px;
}
p{
    margin: 4%;
}
input{
    padding: 1.5% 0.5%;
    box-sizing: border-box;
    border:none;
    text-align: center;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all .3s ease;
    color: orange;
}

.error-message{
    color:red;
    border: solidred;
    width: 70vw;
    margin: auto;
    padding: 15px;
    margin-top: 25px;
}
input[type=text]{
    width:45%;
    margin-top: .5%;
}
input[type=submit]{
    width:20%;
    background-color: white;
    padding: 10px 50px;
    border: 1px solid orange;
    margin-top: 25px;
} 
input[type=submit]:hover{
    background-color: aliceblue;
    color:white;
    border-color: white;
}
header{
    margin-top: 2%;
}
#container1{
			display:block;
			margin-left: 25%;
			margin-top: 50px;
			/*height:100px;*/
			width:50%;
			border:1px solid white;
            background-color: white;
            color:black;
            text-align: center;
            border-radius: 5px;
            padding:20px 20px 0;
		}

		#container1 img{
			width: 100px;
		}

#result{
    background-color: white;
    color: orange;
    font-size: 5vw;
    border-radius: 30px 5px;
    margin: 2% 25%;
    width:50%;
}

@media only screen and (max-width:500px){
    input{
        width:30%;
        padding:2%;
    }
    .temperature{
        font-size: 4em;
    }
    .icon , .desc{
         font-size: 2em
    }
    
}